@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700;800;900&display=swap");


@font-face {
  font-family: 'GE-SS-Light';
  src: url('../fonts/GE-SS-Light.otf')  format('opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'GE-SS-Medium';
  src: url('../fonts/GE-SS-Medium.otf')  format('opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'GE-SS-Bold';
  src: url('../fonts/GE-SS-Bold.otf')  format('opentype');
  font-weight: normal;
  font-style: normal;
}


*,
*:before,
*:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

* {
	margin: 0px;
	padding: 0px;
	border: none;
	outline: none;
}

body {
	font-size: 14px;
	font-weight: 400;
    min-height: 100vh;
    overflow-x: hidden;
    font-family: 'Playfair Display', serif;
}

ul {
	padding: 0;
	margin: 0;
	list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Playfair Display', serif;
	font-weight: 800;
	font-style: normal;
	margin: 0;
}

p {
	margin: 0;
}

html,
button,
input,
select,
textarea {
	color: #222;
}

::-moz-selection {
	background: #b3d4fc;
	text-shadow: none;
}

img {
	vertical-align: middle;

}

fieldset {
	border: 0;
	margin: 0;
	padding: 0;
}

textarea {
	resize: vertical;
}


a,
button {
	-webkit-transition: all 0.4s ease;
	-moz-transition: all 0.4s ease;
	-ms-transition: all 0.4s ease;
	-o-transition: all 0.4s ease;
	transition: all 0.4s ease;
}

p {
	margin: 0;
}

a {
	cursor: pointer !important;
	text-decoration: none !important;
}

a:hover,
a:active,
a:focus,
a:visited {
	text-decoration: none !important;
}

input,
textarea,
a,
button {
	outline: none !important;
	text-decoration: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
  -moz-appearance: textfield;
}

img {
	max-width: 100%;
}
.main-wrapper {
	position: relative;
	min-height: 100%;
	-webkit-transition: -webkit-transform .0s ease;
	transition: -webkit-transform .0s ease;
	transition: transform .0s ease;
	transition: transform .0s ease,
    -webkit-transform .0s ease;
    overflow: hidden;
}
.menu-toggle .main-wrapper {
	-webkit-transition: -webkit-transform .0s ease;
	transition: -webkit-transform .0s ease;
	transition: transform .0s ease;
	transition: transform .0s ease,
    -webkit-transform .0s ease;
    overflow: hidden;
}

.hamburger {
	width: 35px;
	height: 35px;
	border: none;
    position: absolute;
    z-index: 9;
    float: left;
    right: 15px;
    top: 40px;
	-webkit-transition: background-color .2s linear;
	-ms-transition: background-color .2s linear;
	transition: background-color .2s linear;
	display: none;
	margin-right: 0px;
	background-color: transparent;
}
.hamburger span {
	width: 20px;
	height: 2px;
	border-radius: 0px;
	background-color: #d19e54;
	display: block;
	margin-bottom: 4px;
	-webkit-transition: all 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
	-ms-transition: all 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
	transition: all 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.hamburger span:nth-child(2) {
	width: 15px;
}
.hamburger span:last-child {
	margin-bottom: 0;
	width: 9px;
}

/*mobile menu*/

.menu-mobile {

	position: fixed;
	right: 0px;
	top: 0px;
	bottom: 0;
	height: 100%;
	width: 250px;
	background: #282727;
	z-index: 1001;
	overflow-y: auto;
	-webkit-transform: translateX(265px);
	-moz-transform: translateX(265px);
	-ms-transform: translateX(265px);
	-o-transform: translateX(265px);
	transform: translateX(265px);
	-webkit-transition: -webkit-transform .4s ease;
	transition: -webkit-transform .4s ease;
	transition: transform .4s ease;
	transition: transform .4s ease, -webkit-transform .4s ease;
	-webkit-box-shadow: -2px 0 20px 0 rgba(33, 23, 23, 0.68);
	box-shadow: -2px 0 20px 0 rgba(33, 23, 23, 0.68);
}
.brand-area {
	position: relative;
	padding-top: 20px;
}
.close_menu {
	position: absolute;
	top: 0;
	left: 0px;
	font-size: 24px;
	cursor: pointer;
	color: #363636;
	width: 35px;
	height: 35px;
	text-align: center;
	line-height: 35px;
	background-color: #fff;
	-webkit-transition: all 0.4s ease;
	-moz-transition: all 0.4s ease;
	-ms-transition: all 0.4s ease;
	-o-transition: all 0.4s ease;
	transition: all 0.4s ease;
}
.close_menu:hover {
	background-color: #767676;
	color: #fff;
}
.brand-area a {
	width: 90%;
	height: auto;
	display: block;
	background-size: contain;
	margin: 0px auto 0 auto;
	margin-top: 10px;
	text-align: center;
	margin-bottom: 20px;
}
.brand-area a > img {
	max-width: 120px;
	max-height: 100%;
}
.mmenu > ul {
	list-style: none;
	padding: 0px;
	margin: 0px;
}
.mmenu > ul li a {
	display: block;
	border-bottom: 1px solid rgba(255, 255, 255, 0.05);
	color: #fff;
	padding: 10px;
	transition: all .3s;
	font-size: 16px;
	text-transform: capitalize;
}
.mmenu > ul li a > i {
	margin-left: 5px;
}
.mmenu > ul li a:hover {
	background: #434242;
	color: #fff;
	border-color: #434242;
}
.register-mobile {
	margin-top: 0 !important;
}
.register-mobile li:last-child > a {
	border-bottom: 0;
}
.plusIcon {
	font-size: 14px;
	margin-left: 5px;
}
.m-overlay {
	position: fixed;
	content: '';
	left: 0px;
	top: 0px;
	right: 0px;
	bottom: 0px;
	background: #333;
	z-index: 1000;
	opacity: 0;
	visibility: hidden;
	transition: all .3s;
}
.menu-toggle {
	overflow: hidden;
}
.menu-toggle .m-overlay {
	opacity: 0.6;
	visibility: visible;
}
.menu-toggle .menu-mobile {
	-webkit-transform: translateX(0);
	-moz-transform: translateX(0);
	-ms-transform: translateX(0);
	-o-transform: translateX(0);
	transform: translateX(0);

}
.menu-toggle .main-wrapper {
	-webkit-transform: translate3d(-250px, 0, 0);
	-moz-transform: translate3d(-250px, 0, 0);
	-ms-transform: translate3d(-250px, 0, 0);
	-o-transform: translate3d(-250px, 0, 0);
	transform: translate3d(-250px, 0, 0);

}
html.menu-toggle {
	overflow: hidden;
}

/*header*/

#header {
    position: absolute;
    width: 100%;
    top: 30px;
    overflow: hidden;
    left: 0;
    padding: 10px 0;
    z-index: 2;
}
#header .container {
    background: #fff;
    border-radius: 10px;
    padding: 15px 10px;
    overflow: hidden;
    box-shadow: 0 3px 1px rgb(0 0 0 / 16%);
}
.logo-site {
	float: left;
}
.logo-site a {
	display: inline-block;
}
.logo-site img{
	max-width: 120px;
}

.main_menu {
	float: right;
	margin-top: 2px;
}
.main_menu > li {
	float: left;
    padding: 7px 15px;
}
.main_menu > li:last-child {
	margin-right: 0;
}
.main_menu > li > a {
	display: block;
	color: #2A2525;
	font-size: 16px;
	text-transform: capitalize;
    font-weight: 400;
}
.main_menu li.active {
    position: relative;
}
.main_menu li.active:before {
    content: "";
    background: #C99200;
    width: 30%;
    height: 2px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}
.main_menu li.sign-in {
    background: #C99200;
    border-radius: 20px;
    color: #fff;
    padding: 7px 25px;
}
.main_menu li.sign-in a {
    color: #fff;
}
.click-profile {
    margin-top: -5px
}
.click-profile img {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    object-fit: cover;
    border: 1px solid #B88306
}
.click-profile {
    position: relative;
    padding-left: 30px !important;
}
.click-profile:before {
    content: "";
    width: 2px;
    height: 30px;
    background: #ECB7BF;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 10px;
}
.click-cart {
    position: relative;
}
.click-cart img {
    max-width: 22px;
}
.click-cart span {
    background: #B88306;
    font-size: 12px;
    width: 20px;
    line-height: 20px;
    height: 20px;
    text-align: center;
    border-radius: 50%;
    color: #fff;
    position: absolute;
    top: 0;
    right: 0;
}
.mPS2id-highlight-last {
    position: relative;
    color: #B88306 !important
}

#header.fixed-header {
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 8;
}
.header-page {
    position: relative !important;
    top: 0 !important;
    background: #ECB7BF !important;
}
.header-page .container {
    box-shadow: none !important;
    background: transparent !important;
}
.header-page .click-profile:before {
    content: "";
    width: 2px;
    height: 30px;
    background: #ffffff;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 10px;
}


/*cart*/

.show-cart {
  	-webkit-transform: translateX(-650px);
  	transform: translateX(-4650px);
  	transform: translate3d(-650px, 0, 0);
  	-webkit-transform: translate3d(-650px, 0, 0);
  	-moz-transform: translate3d(-650px, 0, 0);
  	-ms-transform: translate3d(-650px, 0, 0);
  	-o-transform: translate3d(-650px, 0, 0);
	-webkit-transition: 300ms ease all;
  	transition: 300ms ease all;
}
.cart-menu {
  	width: 600px;
  	height: 100vh;
  	position:fixed;
  	top: 0;
  	right: -650px;
	overflow-y: auto;
  	background: #fff;
    box-shadow: 0 1px 7px rgb(0 0 0 / 16%);
	z-index: 9;
	-webkit-transition: 300ms ease all;
  	transition: 300ms ease all;
}
.head-cart {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    flex-direction: row-reverse;
    border-bottom: 1px solid #DEDEDE;
    height: 15vh;
}
.head-cart p {
    font-size: 32px;
    color: #4A3336;
}
.head-cart a {
    color: #C99200;
    text-align: center;
    line-height: 25px;
    font-size: 40px;
}
.st-shoping {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 85vh;
}
.box-not-shop {
    text-align: center;
}
.box-not-shop figure {
    margin-bottom: 40px;
}
.box-not-shop figure img {
    max-width: 250px;
}
.box-not-shop .sec-title {
    margin-bottom: 30px;
    padding: 0 100px;
}
.box-not-shop .sec-title h5 {
    color: #4A3336;
    margin-bottom: 20px;
}
.box-not-shop .sec-title p {
    color: #292929;
    font-size: 21px;
    margin-top: 25px;
}
.box-not-shop .btn-site {
    min-width: 180px
}
.body-cart {
    height: 85vh;
    padding-top: 20px;
}
.body-cart .sec-title {
    width: 70%;
}
.body-cart .sec-title p {
    color: #2A2525;
    margin-bottom: 10px;
    font-size: 17px;
}
.body-cart .sec-title span {
    color: #C99200;
    font-size: 24px;
}
.list-cart {
    height: 80%;
    padding: 10px 20px 0;
    overflow: auto;
}
.box-cart {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    box-shadow: 0 1px 7px rgb(0 0 0 / 16%);
    border-radius: 15px;
    padding: 15px;
}
.box-cart:last-child {
    margin-bottom: 0;
}
.box-cart figure {
    width: 120px;
    height: 100px;
    margin-right: 15px;
    border-radius: 5px;
    text-align: center;
    margin-bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.box-cart figure img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    object-fit: cover;
}
.count-cart {
    text-align: right
}
.count-cart .dec, .count-cart .inc {
    position: inherit;
    background: transparent;
    color: #C99200;
    box-shadow: 0 1px 7px rgb(0 0 0 / 16%);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    font-size: 20px;
}
.count-cart .dec:hover, .count-cart .inc:hover {
    color: #B88306;
}
.count-cart .quantity {
    position: relative;
    display: flex;
    align-items: center;
    border-radius: 0px;
    padding-left: 0;
    padding-right: 0;
    width: 110px;
    height: 30px;
}
.count-cart .quantity .count-quat {
    color: #000;
    font-size: 28px;
    width: 40px;
    text-align: center;
}
.remove-cart {
    color: #E50023 !important;
    font-size: 25px;
    display: block;
    padding-right: 10px;
    margin-bottom: 10px;
}
.remove-cart:hover {
    opacity: .7
}
.checkout-cart {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    border-top: 1px solid #B88306;
    height: 15%;
}
.title-ch p {
    color: #4A3336;
    font-size: 17px;
}
.title-ch strong {
    color: #C99200;
    font-size: 23px;
}
.checkout-cart .btn-site {
    margin: inherit;
    font-size: 20px;
    font-weight: normal;
    width: 180px;
}

.hidden {
    display: none;
}

/*section_home*/

.section_home {
	padding: 100px 0;
	position: relative;
	width: 100%;
    height: 100vh;
}
.section_home:before {
    content: "";
    background: url(../images/bg-shape.svg);
    background-repeat: no-repeat !important;
    background-size: 100% 100% !important;
    width: 100%;
    height: 120%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0
}
.section_home:after {
    content: "";
    background: url(../images/shape-img.svg);
    background-repeat: no-repeat !important;
    background-size: contain !important;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: -50%;
    z-index: 0
}
.section_home .container {
    position: relative;
    height: 100%;
}
.home_txt {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 50%;
    padding-left: 40px;
    padding-bottom: 40px;
}
.home_txt h1 {
	color:#2A2525;
	font-size: 50px;
    font-weight: 800;
    text-transform: capitalize;
}
.home_txt p {
	color: #5B5B5B;
	font-size: 16px;
	margin-top: 20px;
    font-weight: 600;
    line-height: 2
}



/*section_about*/

.section_about {
	position: relative;
	padding: 150px 0 100px;
    border-bottom: 1px solid rgb(255 255 255 / .2);
}
.box-about {
    position: relative;
}
.box-about p {
    color:#5B5B5B;
    font-size: 15px;;
    line-height: 1.7
}
.img-about {
    text-align: center;
    position: relative;
}
.img-about:before {
    content: "";
    background: url(../images/shape-about.svg);
    background-size: contain;
    background-repeat: no-repeat;
    width: 470px;
    height: 280px;
    position: absolute;
    top: -20px;
    left: 30px;
}
.img-about img {
    max-width:80%;
}


/*sec_head*/

.sec_head {
	margin-bottom: 30px;
}
.sec_head h2 {
	color: #3B3636;
	font-size: 44px;
	font-weight: 500;
	text-transform:capitalize;
    position: relative;
    padding-bottom: 10px;
    display: inline-block;
}
.sec_head h2:before {
    content: "";
    background: #C99200;
    width: 60px;
    height: 2px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

/*section_curriculum*/

.section_curriculum {
	position: relative;
	padding: 80px 0;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-position: center center !important;
    border-bottom: 1px solid rgb(255 255 255 / .2);
}
.section_curriculum:before {
	content: '';
    background: rgba(59,54,54,50%);
    position: absolute;
	top: 0;
	right: 0;
	width: 100%;
	height: 100%;
}
.content-curriculum {
    text-align: center;
    position: relative;
}
.content-curriculum .sec_head h2 {
    color: #fff;
}
.content-curriculum p {
    margin-top: 50px;
    color: #fff;
    font-size: 15px;
    line-height: 2.3;
    padding: 0 100px;
}



/*section_secrets*/

.section_secrets {
	position: relative;
	padding: 80px 0 100px;
}
.static-secrets {
    display: flex;
    margin-bottom: 60px;
}
.box-static-secrets {
    text-align: center;
    box-shadow: 0 2px 6px 0px rgb(0 0 0 / 16%);
    padding: 20px 20px;
    border-radius: 10px;
    width: 33.3334%;
    margin: 10px;
}
.box-static-secrets h2 {
    color: #C99200;
    font-size: 50px;
    margin-bottom: 40px;
    font-weight: 600;
    text-align: left
}
.box-static-secrets p {
    color: #2A2525;
    text-align: right;
    font-size: 17px;
}
.rate-testi {
    display: flex;
    flex-direction: row-reverse;
}
.rate-testi span {
    display: inline-block;
    margin: 0 1.5px;
    color: #E6E6E6;
    font-size: 14px;
}
.rate-testi .checked {
    color: #C99200 !important;
}
.content-testi {
    width: 70%;
    margin: auto;
    box-shadow: 0 3px 7px rgb(0 0 0 /16%);
    position: relative;
    padding: 50px 30px 70px;
    padding-left: 110px;
    border-radius: 15px;
}
.content-testi figure {
    margin: auto;
    text-align: center;
    position: absolute;
    top: -20px;
    left: -20px;
}
.content-testi figure:before {
    content: "";
    background: #ECB7BF;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    position: absolute;
    bottom: -10px;
    left: -10px;
    z-index: -1
}
.content-testi figure img {
    max-width: 100px;
    border-radius: 10px;
}
.content-testi .sec-title {
    padding-left: 80px;
    position: relative;
}
.content-testi .sec-title:before {
    content: "";
    background: url(../images/quotation-marks.svg);
    background-size: 100% 100%;
    width: 50px;
    height: 50px;
    position: absolute;
    top: 0;
    right: 0;
}
.content-testi .sec-title h6 {
    font-size: 17px;
    margin-bottom: 15px;
    color: #2A2525;
    font-weight: 600;
    position: relative;
}
.content-testi .sec-title h6:before {
    content: "";
    background: #C99200;
    border-radius: 5px;
    width: 60px;
    height: 2px;
    position: absolute;
    top: 10px;
    left: -80px;
}
.content-testi time {
    color: #BEBCBC;
    display: block;
    margin-bottom: 15px;
    font-size: 13px;
}
.content-testi p {
    font-size: 15px;
    color: #717171;
    line-height: 1.8;
    margin-bottom: 20px;
}

#slider-testi .owl-dot span{
  width: 13px;
  height: 13px;
    display: inline-block;
    border-radius: 50%;
  background-color: #B8BBBC;
  opacity: 0.3;
  margin: 10px;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
#slider-testi .owl-dots .owl-dot.active span,
#slider-testi .owl-dots .owl-dot span:hover{
  background-color: #F05E22;
  opacity: 1;
}
#slider-testi .owl-nav {
    display: block !important
}
#slider-testi .owl-nav > button{
  position: absolute;
  top: 30%;
    z-index: 999;
  margin: auto;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  color: #B88306;
  font-size: 28px;
  line-height: 40px;
  text-align: center;
  -webkit-transition: all 0.4s ease;
  -moz-transition: all 0.4s ease;
  -ms-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
#slider-testi .owl-nav > button.owl-prev{
  left: 0;
}
#slider-testi .owl-nav > button.owl-next{
  right: 0;
}
#slider-testi .owl-stage-outer {
    padding: 50px 0 10px;
}


/*section_courses*/

.section_courses {
    padding: 60px 0;
    position: relative;
    background: #ECB7BF;
}
.section_courses .sec_head h2 {
    margin-bottom: 15px
}
.section_courses .sec_head h2:before {
    left: 0;
    transform: inherit;
}
.section_courses .container {
    position: relative
}
.section_courses .container:before {
    content: "";
    position: absolute;
    width: 45px;
    height: 30px;
    top: 80px;
    right: 70px;
    background: #C99200;
    border-left: 0;
    z-index: 2;
}
.content-courses {
    display: flex;
}
.content-courses .sec_head {
    width: 30%;
}
.course-item {
    position: relative;
    z-index: 1;
    margin-top: 80px;
}
.course-item img {
    border-radius: 15px;
}
.course-item:before {
    content: "";
    position: absolute;
    top: 50%;
    left: -20px;
    transform: translateY(-50%);
    width: 150px;
    height: 250px;;
    background: #fff;
    z-index: -1
}
.course-item:after {
    content: "";
    position: absolute;
    top: -30px;
    right: -80px;
    transform: translateY(-0%);
    width: 150px;
    height: 250px;;
    background: #fff;
    z-index: -1
}
.click-video {
    color: #C99200;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 9;
    width: 70px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background: #fff;
    font-size: 28px;
    transition: .3s
}
.click-video:hover {
    color: #B88306;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 9;
    width: 70px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background: #fff;
    font-size: 28px;
}


.owl-dots .owl-dot span {
    background: #C99200;
    opacity: .5;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    display: inline-block;
    margin: 0 5px;
    transition: .3s
}
.owl-dots .owl-dot.active span {
    opacity: 1
}


/*section_our_team*/

.section_our_team {
    padding: 60px 0;
    position: relative;
}
.box-team figure {
    width: 100%;
    height: 280px;
    margin-bottom: 25px;
    border-radius: 5px;
}
.box-team figure img {
    width: 100%;
    height: 100%;
    border-radius: 15px;
}
.box-team .sec-title {
    text-align: center;
    background: #fff;
    box-shadow: 0 1px 3px rgb(0 0 0 / 16%);
    padding: 30px 10px;
    margin: 0 15px 10px;
    position: relative;
    margin-top: -80px;
    border-radius: 10px;
}
.box-team .sec-title h3 {
    color: #2A2525;
    font-weight: 400;
    font-size: 18px;
    margin-bottom: 10px;
}
.box-team .sec-title p {
    color: #BEBCBC;
}
#team-slider .owl-dots {
    text-align: center;
    margin-top: 30px;
}


/*section_instructors*/

.section_instructors {
    padding: 60px 0;
    position: relative;
    background: #ECB7BF
}
.section_instructors .sec_head h2:before {
    left: 0;
    transform: inherit;
}
.box-instructors {
    display: flex;
    position: relative;
    padding: 20px 30px;
}
.box-instructors .sec-title {
    position: relative;
    padding-left: 40px;
    padding-top: 40px;
    width: 50%;
}
.box-instructors .name-inst {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    margin: 20px 0;
}
.box-instructors .name-inst figure {
    width: 50px;
    height: 50px;
    margin-right: 10px;
    margin-bottom: 0;
}
.box-instructors .name-inst figure img {
    width: 50px;
    height: 100%;
    border-radius: 50%;
    border: 1px solid #C99200
}
.box-instructors .name-inst h3 {
    color: #2A2525;
    font-weight: bold;
    font-size: 16px;
    text-transform: capitalize;
}
.box-instructors .name-inst span {
    color: #2A2525;
    display: block;
    font-size: 13px;
}
.box-instructors .sec-title p {
    color: #2A2525;
    font-size: 14px;
}
.box-instructors > figure {
    width: 50%;
    position: relative;
    margin-bottom: 50px;
}
.box-instructors > figure img {
    width: 400px !important;
    height: 400px;
    margin-right: 50px;
    border-radius: 10px;
}


/*section_contact*/

.section_contact {
    position: relative;
    padding: 100px 0;
}
.content-contact {
    padding: 0 100px;
    position: relative;
}
.form-contact {
    width: 100%;
    margin: auto;
    padding-bottom: 40px;
}
.form-group {
    position: relative;
    margin-bottom: 20px;
}
.form-group .form-control {
    border-radius: 35px;
    height: 60px;
    padding-left: 50px;
    box-shadow: none;
    border: 1px solid #E1E1E1;
}
.form-group textarea.form-control {
    height: 140px !important;
    padding-top: 15px;
    border-radius: 20px;
}
.form-group label {
    font-size: 16px;
    position: absolute;
    top: -15px;;
    transform: translateY(-50%);
    left: 20px;
    color: #D1D1D1;
    z-index: 3
}
.form-group img {
    position: absolute;
    top: 20px;
    font-size: 24px;
    left: 20px;
    z-index: 3;
    color: #B88306
}
.des-mess img {
    position: absolute;
    top: 25px;
    left: 20px;
    z-index: 3
}

.btn-send {
    background: #C99200;
    height: 50px;
    font-size: 18px;
    line-height: 50px;
    text-align: center;
    border-radius: 35px;
    display: block;
    color: #fff;
    width: 160px;
    margin: 20px 0;
    position: relative;
    overflow: hidden;
}
.btn-send img {
    position: relative;
    top: 10px;
    left: -20px;
    max-width: 20px;
}
.btn-send span {
    position: relative;
}
.btn-send:before {
    background: #434242;
    position: absolute;
    content: "";
    top: 0;
    height: 100%;
    left: -10px;
    width: 0%;
    transform: skew(-10deg);
    transition-duration: .6s;
    z-index:0;
}
.btn-send:hover:before {
    position: absolute;
    content: "";
    top: 0;
    left: -10px;
    width: 120%;
    z-index: 0
}

.list-contact {
    position: absolute;
    bottom: 80px;
}
.list-contact li {
    margin-bottom: 10px;
    font-size: 17px;
    color: #fff;
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    background: #fff;
    border-radius: 35px;
    padding: 7px 30px 7px 15px;
    box-shadow: 0 1px 3px rgb(0 0 0 / 16%);
}
.list-contact li figure {
    margin-right: 10px;
    margin-bottom: 0;
    background: #fff;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.list-contact li figure i {
    background: #B88306;
    color: #fff;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px
}
.list-contact li h4 {
    color: #BEBCBC;
    margin-bottom: 5px;
    font-weight: 700;
    font-size: 15px
}
.list-contact li p {
    color: #2A2525;
    font-size: 13px
}
#googleMap2 {
    height: 460px;
    border-radius: 15px;
    margin-left: 60px;
}
.number-site {
    font-family: 'Roboto'
}


/*footer*/

#footer {
	padding: 20px 0;
    background: #ECB7BF
}
.ft-menu{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.ft-menu li {
    display: inline-block;
    margin-right: 30px;
}
.ft-menu li.active a {
    color: #B88306 !important
}
.ft-menu li a {
    color: #3B3636;
    font-size: 17px;
}
.social-media {
    position: relative;
    text-align: left;
}
.social-media li {
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    width: 25px;
    height: 25px;
    line-height: 25px;
    text-align: center;
    border-radius: 50%;
    color: #fff;
}
.social-media li a {
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 28px;
    width: 100%;
    height: 100%;
    transition: .5s
}
.social-media a:hover {
    transform: scale(1.2)
}
.copyright {
    color: #fff;
    opacity: .7;
    padding-left: 95px;
    padding-top: 50px;
}


/*section-head-page*/

.section-head-page {
    padding: 180px 0 120px;
    background-size: 100% 100% !important;
    background-repeat: no-repeat !important;
    position: relative;
    min-height: 600px;
}
.section-head-page:before {
    content: "";
    background: rgb(24 37 37 / 70%);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}
.head-page {
    position: relative;
    width: 60%;
    text-align: center;
    margin: 0 auto;
    z-index: 2
}
.head-page h2 {
    color: #fff;
	font-size: 36px;
	font-weight: bold;
    position: relative;
    text-align: center;
    margin-bottom: 30px;
}
.head-page p {
    color: #fff;
    margin-bottom: 40px;
    line-height: 2;
}
.head-page strong {
    color: #C99200;
    display: block;
    font-size: 30px;
}
.form-search {
    position: relative;
}
.head-page .form-search .form-group {
    position: relative;
    width: 70%;
    margin: auto;
}
.head-page .form-search .form-control {
    border-radius: 30px;
    height: 50px;
}
.head-page .form-group i {
    position: absolute;
    top: 15px;
    left: 20px;
    color: #C99200;
    font-size: 24px;
}
.wd100 {
    width: 80%;
    padding-top: 100px;
}


/*page-courses*/

.section_site_page {
    padding: 50px 0;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.item-courses {
    margin-bottom: 30px;
    border: 1px solid #F5F5F5;
    border-radius: 15px;
    box-shadow: 0 1px 7px rgb(0 0 0 / 16%);
    overflow: hidden;
}
.item-courses img{
    width: 100%;
    height: 190px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
.box-course figure {
    position: relative;
}
.sec-owner-course {
    padding: 10px;
    margin-top: -50px;
    position: relative;
    z-index: 2
}
.sec-owner-course .img-owner {
    float: left;
}
.sec-owner-course img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
    object-fit: cover
}
.sec-owner-course .sec-ph {
    margin-left: 60px;
    margin-bottom: 15px;
    padding-top: 30px;
}
.sec-owner-course .sec-ph span {
    color: #5B5B5B;
    font-size: 14px
}
.sec-owner-course p {
    color: #2A2525;
    font-size: 17px;
}
.box-course .sec-title {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 15px 15px;
}
.box-course .sec-title p {
    color: #C99200;
    font-weight: 700;
    margin-bottom: 10px;
}
.box-course .sec-title .btn-site {
    margin: inherit;
    border-radius: 35px;
    font-size: 13px;
    width: 140px;
}

.btn-more,.btn-site {
    background: #C99200;
    display: inline-block;
    border-radius: 30px;
    color: #fff !important;
    font-weight: 500;
    text-align: center;
    display: flex;
    height: 45px;
    align-items: center;
    justify-content: center;
    width: 130px;
    margin: auto;
    position: relative;
    overflow: hidden;
    font-size: 15px;
}
.btn-more span,.btn-site span {
    position: relative;
    z-index: 3
}
.btn-more:before, .btn-site:before {
    background: #434242;
    position: absolute;
    content: "";
    top: 0;
    height: 100%;
    left: -10px;
    width: 0%;
    transform: skew(-10deg);
    transition-duration: .6s;
    z-index:0;
}
.btn-more:hover:before,.btn-site:hover:before {
    position: absolute;
    content: "";
    top: 0;
    left: -10px;
    width: 120%;
    z-index: 0
}

/*course-details*/

.section_course_details {
    position: relative;
    padding: 80px 0;
    overflow: hidden;
    background-size: cover !important;
}
.section_course_details:before {
	content: '';
    background: linear-gradient(90deg, rgba(22,22,21,1) 20%, rgba(99,99,98,0) 100%);
    position: absolute;
	top: 0;
	right: 0;
	width: 100%;
	height: 100%;
}
.content-course-details {
    position: relative;
    padding: 50px;
    width: 50%;
    z-index: 1;
}
.content-course-details:before {
    content: "";
    border: 15px solid #B88306;
    width: 300px;
    height: 300%;
    border-bottom: 0;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
}
.content-course-details h2 {
    font-weight: bold;
    color: #fff;
    text-transform: uppercase;
    font-size: 40px;
    position: relative;
    margin-bottom: 20px;
}
.content-course-details p {
    position: relative;
    color: #fff;
    opacity: .7;
    margin-bottom: 25px;
}
.content-course-details strong {
    color: #B88306;
    font-size: 35px;
    font-weight: bold;
}
.content-feat-course {
    padding: 70px 0;
}

.content-results-course, .content-attachments-course {
    background: #ECB7BF;
}
.feat-course {
    margin-bottom: 40px;
    padding: 60px 0;
}
.feat-course p {
    color: #2A2525;
    font-size: 16px;
    line-height: 1.8;
}
.feat-course h4 {
    position: relative;
    margin-bottom: 15px;
    font-weight: 500;
}
.feat-course h4:before {
    content: "";
    background: #C99200;
    height: 3px;
    width: 120%;
    position: absolute;
    top: 15px;
    right: -40%;
}

.head-course {
    background: rgb(255 255 255 / .1);
    border: 1px solid #B88306;
    padding: 20px 20px;
    border-radius: 5px;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    margin: 40px 0 0;
}
.list-les .accordion {
    color: #FFF;
    cursor: pointer;
    padding: 18px 0 ;
    margin-bottom: 10px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    border-bottom: 1px solid rgb(255 255 255 / .1);
    display: block;
    position: relative;
}
.list-les .accordion p {
    display: inline-block;
    color: #4A3336;
    font-size: 19px;
}
.list-les .accordion i{
    background: #C99200;
    border-radius: 50%;
    position: absolute;
    right: 0;
    width: 25px;
    top: 20px;
    height: 25px;
    line-height: 25px;
    text-align: center;
    font-size: 28px;
    transition: .4s
}
.list-les .panel{
    display: none;
    line-height: 25px;
    color: #fff
}
.list-les li:first-child .panel {
    display: block;
    line-height: 25px;
    color: #fff
}

.list-lessons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
    padding-bottom: 10px;
    position: relative;
    box-shadow: 0 1px 8px rgb(0 0 0 / 10%);
    padding: 20px;
    border-radius: 10px;
}
.list-attach li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
    padding-bottom: 15px;
    position: relative;
}
.list-attach li:before {
    content: "";
    background: rgb(255 255 255 / .5);
    width: 96%;
    height: 1px;
    position: absolute;
    right: 0;
    bottom: 0;
}
.list-attach li:last-child:before {
    display: none;
}
.act-lessons, .act-attach {
    color: #4A3336;
    font-size: 15px
}
.act-lessons span {
    margin: 0 15px;
}
.act-lessons i {
    color: #04E11A;
    font-size: 25px;
}
.name-lesson, .name-attach {
    display: flex;
    align-items: center;
}
.name-lesson i {
    color: #B88306;
    margin-right: 15px;
    font-size: 26px;
}
.name-lesson p, .name-attach p {
    color: #4A3336;
    font-size: 18px;
}
.name-attach small {
    background: #434342;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 15px;
    border-radius: 50%;
}
.name-attach .icon-pdf {
    background: #FC573B;
    color: #fff;
    border-radius: 3px;
    width: 18px;
    height: 18px;
    line-height: 18px;
    text-align: center;
    font-family: unset;
    font-size: 10px;
}
.icon-word {
    background: #0F68C5;
    color: #fff;
    border-radius: 3px;
    width: 18px;
    height: 18px;
    line-height: 18px;
    text-align: center;
    font-family: unset;
    font-size: 10px;
}
.list-attach {
    padding-top: 15px;
}
.act-attach i {
    color: #B88306;
    margin-left: 15px;
    font-size: 22px;
}
.sec-presenter {
    padding-top: 20px;
}
.sec-presenter figure {
    width: 70px;
    float: left;
    margin-right: 15px;
}
.sec-presenter img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
}
.sec-presenter .sec-tit {
    margin-left: 80px;
}
.sec-presenter .sec-tit h3 {
    color: #4A3336;
    margin-bottom: 5px;
    font-size: 24px;
}
.sec-presenter .sec-tit span {
    font-size: 15px;
    margin-bottom: 30px;
    display: block;
}
.sec-presenter .sec-tit p {
    color: #4A3336;
    font-size: 18px;
}

.name-cooment {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}
.comment-course ul {
    padding-top: 20px;
}
.comment-course li {
    margin-bottom: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid  rgb(255 255 255 / .1);
}
.name-cooment h5 {
    color: #B88306;
    font-weight: 600;
}
.name-cooment time {
    color: #fff;
    opacity: .7;
    font-family: sans-serif;
}
.comment-course p {
    color: #fff;
    opacity: .7;
}
.add-comment {
    display: flex;
    align-items: flex-end;
}
.add-comment .form-group:nth-child(1) {
    width: 85%;
}
.add-comment .form-group:last-child {
    width: 15%;
}
.add-comment .form-control{
    background: transparent;
    border: 1px solid #B88306;
    border-radius: 5px;
}


/*prouducts*/

.item-product {
    margin-bottom: 30px;
    border: 1px solid #F5F5F5;
    box-shadow: 0 1px 7px rgb(0 0 0 / 16%);
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    overflow: hidden;
}
.item-product figure img{
    width: 100%;
    height: 190px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
.item-product figure {
    position: relative;
}
.item-product > p {
    color: #2A2525;
    font-size: 19px;
    padding: 0 15px 10px;
    height: 65px;
    overflow: hidden;
    margin-bottom: 5px;
}
.item-product .sec-title {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 15px 15px;
}
.item-product .sec-title p {
    color: #C99200;
    font-weight: 700;
    margin-bottom: 10px;
    font-size: 18px;
}
.item-product .sec-title .btn-site {
    margin: inherit;
    border-radius: 35px;
    font-size: 13px;
    width: 140px;
}


/*checkout*/

.side-product {
    border-radius: 15px;
    padding: 40px 20px;
    box-shadow: 0 1px 7px rgb(0 0 0 / 16%);
}
.form-checkout .data-checkout {
    padding: 40px 20px;
    box-shadow: 0 1px 7px rgb(0 0 0 / 16%);
    border-radius: 15px;
    margin-bottom: 20px;
}
.side-product > p, .data-checkout > p {
    margin-bottom: 25px;
    color: #4A3336;
    font-size: 27px
}
.data-checkout > p {
    font-size: 21px
}
.data-checkout > p span {
    color: #C99200;
    border: 1px solid #C99200;
    width: 30px;
    height: 30px;
    line-height: 30px;
    border-radius: 50%;
    display: inline-block;
    font-size: 24px;
    text-align: center;
    font-weight: 700;
    font-family: sans-serif
}
.box-prou {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    padding-bottom: 30px;
    border-bottom: 1px solid rgb(255 255 255 / .1);
}
.box-prou:last-child {
    border-bottom: 0
}
.box-prou figure {
    width: 120px;
    height: 100px;
    margin-right: 15px;
    border: 1px solid #B88306;
    border-radius: 5px;
    background: #434342;
    text-align: center;
    padding: 20px;
    margin-bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.box-prou figure img {
    max-height: 70px;
}
.box-prou .sec-title p {
    color: #fff;
    margin-bottom: 10px;
    font-size: 18px;
}
.box-prou .sec-title strong {
    color: #B88306;
    font-size: 20px;
    font-weight: bold;
}
.side-product .list-prou {
    height: 450px;
    overflow: auto;
    padding: 5px
}
.total-che {
    border-top: 1px solid #DEDEDE;
    padding-top: 30px;
}
.total-che li {
    display: flex;
    align-items: center;
    justify-content:space-between;
    margin-bottom: 10px;
}
.total-che p {
    color: #262626;
    font-size: 18px;
}
.total-che span {
    color: #808080;
    font-size: 17px;
}
.total-amount {
    border-top: 1px solid #DEDEDE;
    padding-top: 15px;
}
.total-amount span {
    color: #C99200;
}

.form-checkout .form-group img {
    position: absolute;
    top: 20px;
    left:  20px;
    max-width: 20px;
}
.form-checkout .form-control {
    background: transparent;
    border: 1px solid #E1E1E1;
    color: #717171;
    width: 100%
}
.form-checkout .btn-site {
    width: 220px;
    margin: inherit;
}
.flex50, .flex80, .flex70  {
    display: flex;
}
.flex50 .form-group {
    width: 50%;
    margin-right: 15px
}
.flex50 .form-group:last-child {
    margin-right: 0;
}

.flex80 .form-group:first-child {
    width: 25%;
}
.flex80 .form-group:last-child {
    width: 75%;
}
.flex80 .form-group:last-child .form-control {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}
.flex80 .form-group:first-child .form-control {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    border-right: 0;
}
.flex70 .form-group:first-child {
    width: 70%;
    margin-right: 10px;
}
.flex70 .form-group:last-child {
    width: 30%;
}
.flex70 .btn-site {
    width: 100%;
    margin: inherit;
    height: 55px;
    margin-bottom: 0;
}
.size-pro > div{
  	display: inline-block;
  	margin-right: 5px;
	margin-bottom: 5px;
}
.size-pro > div label{
  margin: 0;
}
.size-pro input[type="radio"] {
    display: none;
}
.size-pro input[type="radio"] + label span {
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
	border-radius: 25px;
	border: 1px solid #C99200;
	color: #C99200;
	font-weight: normal;
    min-width: 150px;
    height: 45px;
    text-align: center;
    line-height: 45px;
}
.size-pro input[type=radio]:checked + label span {
	background: #C99200;
    border: 1px solid #C99200;
	color: #fff
}

.radio {
    margin: 16px 0;
    display: block;
    cursor: pointer;
}

.radio input {
    display: none;
}

.radio input + span {
    line-height: 22px;
    height: 22px;
    padding-left: 22px;
    display: block;
    position: relative;
    color: #fff;
}

.radio input + span:not(:empty) {
    padding-left: 30px;
}

.radio input + span:before,
.radio input + span:after {
    content: '';
    width: 22px;
    height: 22px;
    display: block;
    border-radius: 50%;
    left: 0;
    top: 0;
    position: absolute;
}

.radio input + span:before {
    background: transparent;
    border: 1px solid #B88306;
    -webkit-transition: background 0.2s ease,
    -webkit-transform 0.4s cubic-bezier(0.175, 0.885, 0.32, 2);
    transition: background 0.2s ease,
    -webkit-transform 0.4s cubic-bezier(0.175, 0.885, 0.32, 2);
    transition: background 0.2s ease, transform 0.4s cubic-bezier(0.175, 0.885, 0.32, 2);
    transition: background 0.2s ease, transform 0.4s cubic-bezier(0.175, 0.885, 0.32, 2),
    -webkit-transform 0.4s cubic-bezier(0.175, 0.885, 0.32, 2);
}

.radio input + span:after {
    -webkit-transform: scale(0.78);
    transform: scale(0.78);
    -webkit-transition: -webkit-transform 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.4);
    transition: -webkit-transform 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.4);
    transition: transform 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.4);
    transition: transform 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.4),
    -webkit-transform 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.4);
}

.radio input:checked + span:before {
    -webkit-transform: scale(1.04);
    transform: scale(1.04);
    background: #B88306;
}

.radio input:checked + span:after {
    -webkit-transform: scale(0.4);
    transform: scale(0.4);
    -webkit-transition: -webkit-transform .3s ease;
    transition: -webkit-transform .3s ease;
    transition: transform .3s ease;
    transition: transform .3s ease, -webkit-transform .3s ease;
}

.radio:hover input + span:before {
    -webkit-transform: scale(0.92);
    transform: scale(0.92);
}

.radio:hover input + span:after {
    -webkit-transform: scale(0.74);
    transform: scale(0.74);
}

.radio:hover input:checked + span:after {
    -webkit-transform: scale(0.4);
    transform: scale(0.4);
}


/*blogs*/

.box-news {
    margin-bottom: 40px;
    box-shadow: 0 1px 7px rgb(0 0 0 / 16%);
    border-radius: 15px;
}
.box-news figure {
    position: relative;
    width: 100%;
    height: 190px;
    border-radius: 5px;
    margin-bottom: 0;
}
.box-news figure img {
    width: 100%;
    height: 100%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
.box-news .sec-title {
    padding: 15px;
}
.box-news p {
    height: 48px;
    overflow: hidden;
    margin-bottom: 15px;
}
.box-news p a {
    color: #2A2525;
    line-height: 1.5;
    font-size: 16px;
}
.box-news time {
    color: #BEBCBC;
    font-size: 14px;
    display: block;
}


/*blog-page*/


.title-blog strong {
    color: #C99200;
    font-size: 30px;
    margin-bottom: 35px;
    display: block;
}
.title-blog p {
    color: #717171;
    font-size: 17px;
    line-height: 1.9;
}
.title-blog h4 {
    color: #2A2525;
    font-size: 23px;
    font-weight: 600;
    margin-bottom: 20px;
}


/*profile*/

.flex-profile {
    display: flex;
}
.tabs-profile {
    width: 25%;

}
.nav-tabs {
    display: block;
    border-bottom: 0;
    box-shadow: 0 1px 7px rgb(0 0 0 / 16%);
    padding: 30px 20px;
    border-radius: 15px;
}
.nav-tabs .nav-item {
    display: block;
    margin-bottom: 15px;
    transition: .4s
}
.nav-tabs .nav-link {
    border: 0;
    color: rgb(113 113 113 / .5);
    border-radius: 35px;
    font-size: 17px;
    padding: 15px 25px;
    display: flex;
    align-items: center;
    border: 1px solid #C99200;
}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: #4A3336;
    border: 1px solid #C99200;
}
.nav-link figure {
    display: inline-block;
    margin-bottom: 0;
    margin-right: 20px;
    padding-right: 20px;
    position: relative;
}
.nav-link figure:before {
    content: "";
    background: rgb(255 255 255 / .5);;
    width: 1px;
    height: 150%;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
}
.nav-link figure img {
    max-width: 18px;
}
.nav-link figure:before {
    content: "";
    background: #B88306;
    width: 1px;
    height: 150%;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
}

.content-profile {
    width: 75%;
    margin-left: 30px;
}
.tab-content {
    box-shadow: 0 1px 7px rgb(0 0 0 / 16%);
    padding: 30px 20px;
    border-radius: 15px;
    position: relative
}
.data-profile > h2, .content-courses > h2,
.content-order > h2 {
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 40px;
    font-size: 25px;
    font-weight: 700;
    padding-top: 20px;
}
.data-profile {
     padding: 0 40px;
}
.data-profile figure {
    margin-bottom: 15px;
}
.data-profile figure img {
    width: 120px;
    height: 120px;
    object-fit: cover;
    border: 3px solid #C99200;
    border-radius: 50%;
}
.list-data {
    margin-bottom: 30px;
}
.ph-main {
    font-size: 20px;
    font-weight: 500;
    color: #4A3336;
    margin-bottom: 10px;
}
.list-data li {
    padding: 10px 0;
    border-radius: 10px;
    display: flex;
    align-items: center;
}
.list-data li p {
    color: #717171;
    font-weight: 600;
    margin-right: 10px;
    font-size: 17px;
}
.list-data li span {
    color: #717171;
    font-size: 16px;
}
.option-data {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin: 30px 0;
    position: absolute;
    top: 20px;
    right: 20px;
}
.option-data .btn-site {
    width: 220px;
}
.change-password {
    color: #B88306 !important;
    font-size: 17px;
    margin-right: 15px;
}

.name-course {
    color: #4A3336;
    padding: 0 15px;
    margin-bottom: 10px;
}
.item-courses small {
    font-size: 14px;
    color: #2A2525
}

.list-order > li {
    padding: 20px 15px;
    box-shadow: 0 1px 7px rgb(0 0 0 / 16%);
    border-radius: 15px;
    margin-bottom: 15px;
    cursor: pointer;
    position: relative
}
.list-order > li:last-child {
    margin-bottom: 100px;
}
.colu-right p {
    color: rgb(42 37 37 / 50%);
    margin-bottom: 10px;
    font-size: 17px;
}
.colu-right p a {
    color: #2A2525;
    font-weight: 700;
}
.option-order, .option-order ul {
    display: flex;
    align-items: center;
    justify-content: space-between
}
.price-order {
    margin-right: 40px;
}
.colu-right time, .colu-right small {
    color: #2A2525;
    font-size: 16px;
}
.colu-right time i{
    margin-right: 10px;
    color: #C99200;
}
 .colu-right small i {
    margin-right: 10px;
    color: #fff;
    background: #C99200;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    text-align: center;
    line-height: 20px;
}
.show-order {
    color: #fff;
    background: #C99200;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    text-align: center;
    line-height: 20px;
    position: absolute;
    top: 20px;
    right: 20px;
}
.show-order i {
    color: #fff;
}
.complete {
    color: #03C511 !important;
    font-size: 16px
}
.delivery {
    color: #008F0A !important;
    font-size: 16px
}
.Preparing {
    color: #FF5E00;
}
.new {
    color: #FF0000;
}
.price-order h2 {
    font-weight: bold;
    color: #B88306;
}

/*Modal*/

.modal-head {
    padding: 10px 15px;
    font-size: 22px;
}
.modal-head i {
    color: #C99200;
    font-size: 35px;
}
.modal-content {
    border-radius: 15px;
    overflow: hidden;
}


/*Modal Order*/

#modalOrder .modal-dialog {
    max-width: 700px;
    margin: 5rem auto;
}
.content-order {
    padding: 30px;
}
.id-order {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
}
.id-order p {
    color: #2A2525;
    font-size: 19px;
    font-weight: 500
}
.data-order {
    position: relative
}
.data-order p {
    color: #292929;
    margin-bottom: 10px;
    font-size: 16px;
}
.data-order .amount-to {
    position: absolute;
    top: 0;
    right: 0;
}
.amount-to span {
    color: #C99200
}
.products-order {
    margin-top: 40px;
}
.products-order > p {
    position: relative;
    font-size: 19px;
    font-weight: 500;
    margin-bottom: 20px;
}
.products-order > p:before {
    content: "";
    background: #C99200;
    height: 3px;
    width: 100%;
    position: absolute;
    top: 50%;
    right: -20%;
    border-radius: 55px;
}
.cont-product {
    display: flex;
    padding: 10px;
    box-shadow: 0 1px 7px rgb(0 0 0 / 16%);
}
.cont-product figure {
    width: 30%;
    height: 80px;
    margin-right: 10px;
    margin-bottom: 0;
}
.cont-product figure img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    object-fit: cover
}
.cont-product .sec-title {
    padding-top: 5px;
}
.cont-product p {
    height: 42px;
    overflow: hidden;
    margin-bottom: 5px;
}
.sec-pro {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.sec-pro small {
    color: #C99200;
    font-size: 17px;
}
.sec-pro span {
    color: #717171;
    font-size: 17px;
}


/*menu-profile-aside*/

.show-menu-profile, .show-change-password,
.show-order-details {
  	-webkit-transform: translateX(-650px);
  	transform: translateX(-4650px);
  	transform: translate3d(-650px, 0, 0);
  	-webkit-transform: translate3d(-650px, 0, 0);
  	-moz-transform: translate3d(-650px, 0, 0);
  	-ms-transform: translate3d(-650px, 0, 0);
  	-o-transform: translate3d(-650px, 0, 0);
	-webkit-transition: 300ms ease all;
  	transition: 300ms ease all;
}
.menu-edit-profile, .menu-change-password,
.menu-order-details {
  	width: 600px;
  	height: 100vh;
  	position:fixed;
  	top: 0;
  	right: -650px;
	overflow-y: auto;
  	background: #2E2E2D;
	z-index: 9;
	-webkit-transition: 300ms ease all;
  	transition: 300ms ease all;
}
.head-asid {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    flex-direction: row-reverse;
    border-bottom: 1px solid rgb(184 131 6 / .4);
    height: 15vh;
}
.head-asid img {
    max-width: 120px;
}
.head-asid a {
    background: #434342;
    border: 1px solid #B88306;
    color: #B88306;
    border-radius: 5px;
    width: 25px;
    height: 25px;
    text-align: center;
    line-height: 25px;
}

.content-body {
    height: 85vh;
    overflow: auto;
    padding: 20px;
}
.content-edit > h2 {
    color: #fff;
    font-weight: bold;
    font-size: 25px;
    text-transform: uppercase;
    text-align: center;
    margin: 20px auto
}
.over-hide {
    overflow: hidden;
    position: relative
}
.over-hide:before {
    content: "";
    background: #000;
    opacity: .5;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1
}

.flex70 {
    display: flex;
    align-items: center;
}
.flex70 select {
    width: 30%;
    margin-right: 10px;
    color: #000;
}
.flex70 select option {
    color: #000;
}
.btn-auto {
    margin: 40px auto 20px;
}
.form-edit .form-group {
    margin-bottom: 20px;
}

.content-edit > time {
    color: #fff;
    opacity: .4;
    font-size: 16px;
    margin-right: 0;
    text-align: center;
    display: block;
    margin-top: -10px;
}
.content-edit > time i {
    margin-right: 10px;
}
.total-order {
    text-align: right;
    color: rgb(255 255 255 / .7);
    font-size: 21px;
    margin-top: 30px;
}
.total-order strong {
    color: #B88306;
    font-size: 40px;
    margin-left: 20px;
}
.list-data-order li {
    padding: 20px 15px;
    border: 1px solid #B88306;
    border-radius: 10px;
    display: flex;
    margin-bottom: 15px;
    cursor: pointer
}
.list-data-order p {
    color: #B88306;
    font-weight: 600;
    font-size: 16px;
}
.list-data-order span {
    color: #fff;
    opacity: .7;
    font-size: 16px;
    margin-left: 20px;
}
.list-status, .list-paying {
    width: 50%;
}
.flex-ul {
    display: flex;
}
.flex-ul li {
    margin-right: 10px;
}
.flex-ul li:last-child {
    margin-right: 0;
}
.product-order > h3 {
    color: #fff;
    font-weight: 700;
    font-size: 28px;
    text-transform: uppercase;
    margin: 30px 0 20px;
}
.product-order .item-prouduct figure {
    width: 100%;
    height: 170px;
}
.product-order .item-prouduct figure img {
    max-height: 120px;
}


/*register*/

.content-reg, .content-forgot {
    background: #2E2E2D;
    padding: 30px 50px;
    border-radius: 10px;
    border: 1px solid #B88306;
}
.content-reg .nav-tabs {
    display: flex;
    flex-wrap: nowrap;
    border-bottom: 0;
}
.content-reg .nav-tabs .nav-link {
    border: 0;
    color: rgb(255 255 255 / .5);
    border-radius: 0;
    font-size: 20px;
    padding: 25px 15px;
    display: flex;
    align-items: center;
    border: 1px solid rgb(67 67 66 / .5);
    background: rgb(67 67 66 / .5);
    border-radius: 5px;
    text-transform: uppercase;
    font-weight: 600;
    justify-content: center;
}
.content-reg .nav-tabs .nav-item {
    width: 50%;
    margin-right: 20px;
    border-radius: 5px;
}
.content-reg .nav-tabs .nav-item:last-child {
    margin-right: 0;
}
.content-reg .nav-tabs .nav-link.active{
    background: #242423;
    border: 1px solid #B88306;
    color: #B88306;
}
.content-reg .tab-content {
    background: transparent;
    padding: 25px 15px;
    border: 0;
}

.form-login, .form-register {
    padding: 0 50px;
}
.content-reg .btn-site, .content-forgot .btn-site {
    margin: 120px auto 10px;
    height: 60px;
    width: 70%
}
.forgot-password {
    color: #B88306;
    text-align:center;
    margin: 20px auto;
    display: block;
    font-size: 16px;
    font-weight: 600
}
.forgot-password:hover {
    color: #B88306;
    opacity: .7
}
.cbx p {
    font-weight: 500;
    font-size: 14px;
    color: rgb(255 255 255 / .5);
}
.cbx p a {
    color: #B88306;
}
.cbx {
  -webkit-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  cursor: pointer;
    display: flex;
    justify-content: center;
    margin-top: 10px;
}
.cbx span {
  display: inline-block;
  vertical-align: middle;
    border: 0;
  transform: translate3d(0, 0, 0);
    margin-right: 10px;
}
.cbx span:first-child {
  position: relative;
  width: 17px;
  height: 17px;
    background: transparent;
    border: 1px solid #b88306;
  border-radius: 3px;
  transform: scale(1);
  vertical-align: middle;
  transition: all 0.2s ease;
    top: 0;
}
.cbx span:first-child svg {
  position: absolute;
  z-index: 1;
  top: 2px;
  left: 0px;
  fill: none;
  stroke: white;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-dasharray: 16px;
  stroke-dashoffset: 16px;
  transition: all 0.3s ease;
  transition-delay: 0.1s;
  transform: translate3d(0, 0, 0);
}
.cbx span:first-child:before {
  content: "";
  width: 100%;
  height: 100%;
  background: #fa7d09;
  display: block;
  transform: scale(0);
  opacity: 1;
  border-radius: 0;
  transition-delay: 0.2s;
}
.cbx span:last-child {
  margin-left: 8px;
}
.cbx span:last-child:after {
  content: "";
  position: absolute;
  top: 8px;
  left: 0;
  height: 1px;
  width: 100%;
  background: #fa7d09;
  transform-origin: 0 0;
  transform: scaleX(0);
}
.cbx:hover span:first-child {
  border-color: #fa7d09;
}

.inp-cbx:checked + .cbx span:first-child {
  border-color: #fa7d09;
  background: #fa7d09;
  animation: check 0.6s ease;
}
.inp-cbx:checked + .cbx span:first-child svg {
  stroke-dashoffset: 0;
}
.inp-cbx:checked + .cbx span:first-child:before {
  transform: scale(2.2);
  opacity: 0;
  transition: all 0.6s ease;
}
.inp-cbx:checked + .cbx span:last-child {
  color: #B9B8C3;
  transition: all 0.3s ease;
}
.inp-cbx:checked + .cbx span:last-child:after {
  transform: scaleX(1);
  transition: all 0.3s ease;
}
@keyframes check {
  50% {
    transform: scale(1.2);
  }
}

.content-forgot > a {
    color: #fff;
    font-size: 40px;
    margin-bottom: 20px;
    padding-left: 50px;
}
.content-forgot h2 {
    color: #fff;
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 60px;
    text-transform: uppercase;
    padding-left: 50px;
}






